@charset "utf-8";
#wrap {
    max-width: 1200px;
    margin: 0px auto;
    border: 1px solid #F5F5F5;
    background: #FFF;
    box-shadow: 0 0 5px 0 rgb(233, 231, 231);
}
#header > h1{
    width: 40%;
}
#header > h1 > img{
    width: 70%;
}
#header {
    padding: 20px 37px;
    border-bottom: 2px solid #222;
}
#contentWrap{
    padding: 20px 37px 60px 37px
}
.tit01{
    margin: 25px 0 25px;
    font-size: 1.4em;
    font-weight: 700;
}
.txt{
    font-size: 1.2em;
    margin-bottom: 15px;
}
span.txt{
    font-size: 1.2em;
}
.c_tit{
    margin: 25px 0;
    font-size: 1.4em;
    font-weight: 700;
}
.txt > span{
    text-decoration: underline;
}
.table-1, table.pc{
    width: 100%;
    border-top: 1px solid #868686;
    border-collapse: collapse;
    margin: 0 0 70px;
    table-layout: fixed;
}
.table-1 th, .pc th {
    height: 60px;
    padding: 10px 48px;
    border-bottom: 1px solid #DCDCDC;
    background: #FAFAFA;
    font-weight: 700;
    color: #2E2C2C;
    text-align: left;
}
.table-1 td, .pc td {
    height: 60px;
    padding: 10px 27px;
    border-bottom: 1px solid #DEE2E6;
    background: #FFF;
    font-weight: 500;
    color: #2E2C2C;
    text-align: left;
}
td.size01 > input{
    max-width: 14em;
}
td.size02 > input{
    max-width: 17em;
}
td.size03{
    text-align: center;
}
.price label{
    width:calc(100% / 3)
}
.price{
    padding:10px 0 ;
}
.price label > span{
    display: block;
}
.ageline label, .job label{
    width:calc(100% / 3)
}
.skinty01 label, .skinty02 label, .skinty03 label{
    width:calc(100% / 2)
}
.table-1 .ageline{
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: left;
    justify-content: left;
    -webkit-align-items: center;
    align-items: center;
    min-height: 40px;
}
.table-1 .price, .sample, .product,.skinty01, .skinty02,.skinty03, .job{
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: left;
    justify-content: left;
    -webkit-align-items: center;
    align-items: center;
    min-height: 40px;
}
.sample{
    padding: 15px 32px;
}
.ready{
    padding: 20px;
    font-weight: 700;    
}
ul.exp{
    padding: 0 0px 0 50px;
}
ul.exp > li{
    font-size: 15px;
    margin-bottom: 20px;
    list-style: square;
}
ul.exp > li >span{
    font-weight: 600;
}
.price span{
    margin-left: 5px;
    font-size: 0.94em;
    color: #222;
}
input[type=text], input[type=date], input[type=number],select {
    height: 40px;
    padding: 0 13px;
    border: 1px solid #D8DBDB;
    border-radius: 3px;
    background: #FFF;
    font-size: 0.94rem;
}
.sample > label{
 width: calc(100% / 4);
}
.method_title {
    padding: 20px 0; 
    font-weight: 700; 
}
.tm{
    padding: 10px 0; 
    font-weight: 700; 
}
.tm_lst {
    padding:10px 20px;
}
.tm_lst > li {
    list-style: decimal; 
    margin: 0 0 15px; 
    font-size: 15px;
}
.method_img {
    width: 100%;    
    margin-bottom: 20px;
}
.method_img > img {
    float: left;
    margin-right: 1%;
    width: 24%; 
    height: 200px; 
    border: 1px solid #dcdcdc;
}
.method_img > img:last-child{
    margin-right: 0;
}
.method_lst {
    padding:20px;
}
.method_lst > li {
    list-style: decimal; 
    margin: 0 0 15px; 
    font-size: 15px;
}
.b1, .b2{
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content:space-between;
    -webkit-align-items: center;
    align-items: center;
}
.b2 >span{
    font-size: 0.9em;
}
.test_title {
    padding: 20px 0; 
    font-weight: 700; 
    font-size: 16px;
}
.test_img {
    width: 100%;    
    margin-bottom: 20px;
}
.test_img > .img {
    float: left;
    width: 19%; 
    margin-right: 1%;
    height: 200px; 
    border: 1px solid #dcdcdc;
}
.test_img > .img > img{
    width: 100%;
    height: 198px;
}
.test_img > div:last-child {
    margin-right: 0;
    padding: 10px; 
    font-size: 15px; 
    text-align: center; 
    line-height: 43px;
}
.test_img > div:last-child >span{
    display: block;
}
.test_img > div > b {
    font-weight: 600;
    font-size: 18px;
}
.test_lst {
    padding: 30px 20px;
}
.test_lst > li {
    list-style: decimal; 
    margin: 0 0 15px; 
    font-size: 15px;
}
.radio_skin{
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content:space-between;
    -webkit-align-items: center;
    align-items: center;
    min-height: 40px;
    width: 100%;
}
.radio_skin > label{
    white-space: nowrap;
}
.product > label{
    width: calc(100% / 5);
   }
a.next{
    display: none;
}
span.bl{
    margin-left: 15px;
}
table.mgt02{
    border-top: none;
    margin-bottom: 30px;
 }
 @media screen and (max-width:767px){
    #wrap{
         max-width: 767px;
         min-width: 320px;
         margin: 0 auto;
         border:none;
       }
    #header > h1{
        width: 40%;
    }
    #header > h1 > img{
        width: 100%;
    }
    #header {
        padding: 10px 37px;
    }
    #contentWrap{
        padding: 0 5px
    }
    .tit01{
        margin: 20px 10px 10px;
        font-size: 1.2em;
    }
    .txt{
        margin-left: 10px;
        margin-right: 10px;
        font-size: 0.9em;
        margin-bottom: 10px;
    }
    .c_tit{
        margin: 20px 10px 10px;
        font-size: 1.2em;
    }
    .table-1{
        margin: 0 0 40px;
    }
    .table-1 th {
        height: 40px;
        padding: 5px 20px;
        font-size: 0.9em;
    }
    .table-1 td {
        height: 40px;
        padding: 10px 20px;
    }
    .table-1.pc{
        display: none;
    }
    td.size01 > input{
        max-width: 10em;
    }
    td.size02 > input{
        max-width: 10em;
    }
    td.size03{
        padding: 5px;
        text-align: left;
    }
    .price label{
        width:100%
    }
    .price label > span{
        display: inline;
    }
    .ageline label, .skinty01 label, .skinty02 label,.skinty03 label, .job label{
        width:100%
    }
    .table-1 .ageline{
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: left;
        justify-content: left;
        -webkit-align-items: flex-start;
        align-items: flex-start;
        flex-direction: column;
        min-height: 40px;
    }
    .table-1 .price{
        -webkit-justify-content: left;
        justify-content: left;
        -webkit-align-items: flex-start;
        align-items: flex-start;
        flex-direction: column;
        min-height: 40px;
    }
    .table-1 .sample{
        -webkit-justify-content: left;
        justify-content: left;
        -webkit-align-items: center;
        align-items: center;
        min-height: 40px;
    }
    .table-1 .product{
        -webkit-justify-content: left;
        justify-content: left;
        -webkit-align-items: flex-start;
        align-items: flex-start;
        flex-direction: column;
    }
    .skinty01, .skinty02,.skinty03, .job{
        -webkit-justify-content: left;
        justify-content: left;
        -webkit-align-items: flex-start;
        align-items:  flex-start;
        min-height: 40px;
        flex-direction: column;
    }
    .sample{
        padding: 0px 0px;
    }
    .ready{
        padding:5px 5px 10px;  
    }
    ul.exp{
        padding: 0 0px 0 20px;
    }
    ul.exp > li{
        margin-bottom: 15px;
    }
    ul.exp > li >span{
        font-weight: 600;
    }
    .price span{
        margin-left: 5px;
        font-size: 0.94em;
        color: #222;
    }
    input[type=text], input[type=date], input[type=number],select {
        height: 30px;
        padding: 0 13px;
        border: 1px solid #D8DBDB;
        border-radius: 3px;
        background: #FFF;
        font-size: 0.9rem;
    }
    .sample > label{
     width: calc(100% / 4);
    }
    .method_title {
        padding: 20px 0; 
        font-weight: 700; 
    }
    .tm{
        padding: 10px 0; 
        font-weight: 700; 
    }
    .tm_lst {
        padding:10px 20px;
    }
    .tm_lst > li {
        list-style: decimal; 
        margin: 0 0 15px; 
        font-size: 15px;
    }
    .method_img > img {
        margin-right: 1%;
        width:49%; 
        margin-bottom: 15px;
    }
    .method_lst {
        padding: 20px 20px;
    }
    .method_lst > li {
        font-size:  0.9em;;
    }
    .b1, .b2{
        -webkit-justify-content: space-between;
        justify-content:space-between;
        -webkit-align-items: center;
        align-items: center;
    }
    .b2 >span{
        font-size: 0.9em;
    }
    .test_title {
        padding: 20px 0; 
        font-weight: 700; 
        font-size: 16px;
    }
    .test_img > .img {
        width: 49%; 
        margin-bottom: 20px;
    }

    .test_img > div:last-child {
        margin-right: 0;
        margin-bottom: 0;
        width: 100%;
        height: auto;
    }
    .test_img > div:last-child >span{
        display: inline;
    }
    .test_img > div > b {
        display: block;
        font-size:0.94em;
    }
    .test_lst {
        padding: 30px 20px;
    }
    .test_lst > li {
        list-style: decimal; 
        margin: 0 0 15px; 
        font-size: 15px;
    }
    .radio_skin{
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: space-between;
        justify-content:space-between;
        -webkit-align-items: center;
        align-items: center;
        min-height: 40px;
        width: 100%;
    }
    .radio_skin > label{
        white-space: nowrap;
    }
    .product > label{
        width: 100%;
       }    
    a.next{
        display: block;
        height: 40px;
        line-height: 40px;
        width: 200px;
        background-color: rgb(10, 39, 110);
        color: #fff;
        text-align: center;
        margin: 0 auto 105px;
    }  
    p.pc{
        display: none;
    }
    p.ty{
        margin: 10px 0;
    }
    span.bl{
        margin-bottom: 10px;
        margin-left: 0;
        margin-right: 10px;
        font-size: 0.9em;
    }
    td.mgt01{
       font-size:0.9em;
       padding: 25px 20px 15px;
    }
    table.mgt02{
        margin-bottom: 20px;
     }
    p.ty02{
        text-align: center;
        margin-bottom: 13px;
    }
    td.pad{
        padding-top: 0;
        font-size: 0.9em;
        padding-left: 10px;
    }

 }